.footer-page {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--black-bg-color);
}

.footer__container {
  max-width: 1600px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.logo.footer {
  margin: 0;
  color: var(--primary-white-color);
}

.address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}

.address__map {
  margin: 0;
  margin-top: 20px;
  color: var(--primary-white-color);
}

.address__link {
  display: block;
  margin-top: 9px;
  color: var(--alpha-white-color);
  @include transition(color);

  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.social-media__link--white {
  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  @include transition(background-color);

  &:hover,
  &:focus {
    background-color: var(--accent);
  }
}

.social-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 70px;
}

.social-media--dark {
  margin: 0;
  justify-content: space-between;
}

.join {
  margin-bottom: 20px;
  text-align: left;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.form-wrapper {
  margin-left: 93px;
  flex-direction: column;
  display: flex;
}

.sing-form {
  display: flex;
}

.sign {
  margin-bottom: 20px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-white-color);
  background-color: transparent;
}

.sing-form__input {
  width: 358px;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  @include transition(border);

  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);

  &:focus {
    outline: none;
    border: 1px solid var(--accent);
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}

.sing-form__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.sing-form__btn {
  display: flex;
  align-items: center;
  padding: 10px 28px;
  margin-left: 12px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  color: var(--primary-white-color);
  background-color: var(--accent);
}
