.header {
  position: sticky;
  top: -1px;
  z-index: 3;
  background-color: var(--primary-white-color);

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}
