.logo {
  color: #000000;

  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  @include transition(color);

  &:focus {
    color: var(--accent);
  }
}

.logo__title {
  color: var(--accent);

  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.logo--black {
  color: #000000;
  margin: 0;
}

.logo--white {
  margin: 0;
  color: var(--primary-white-color);
}
