.site-contacts {
  @extend %header-nav;
}

.site-contacts {
  margin-left: auto;
}

.site-contacts__link {
  color: var(--primary-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  @include transition(color);

  &:hover {
    color: var(--accent);
  }

  &:focus {
    color: var(--accent);
  }
}

.site-contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.site-contacts__item {
  padding-top: 32px;
  padding-bottom: 32px;

  &:last-of-type {
    margin-left: 50px;
  }
}
