.site-nav {
  @extend %header-nav;
}

.site-nav__list {
  margin-left: 93px;
}

.site-nav__link {
  @include transition(color);
  color: var(--title-text-color);

  &:hover {
    color: var(--accent);
  }

  &:focus {
    color: var(--accent);
  }
}

.site-nav__link--current {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--accent);

  &::after {
    content: '';

    position: absolute;
    display: block;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;

    background: var(--accent);
  }
}

.site-nav__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}
